// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.

@import "ui-variables";

.outliner-view {
    header {
        margin: 0 auto 10px;
        padding: 0 0 5px;
        border-bottom: 1px solid @button-background-color;
        text-align: center;
    }
    .btn-toolbar {
        text-align: center;
        .btn-group {
            float: none;
            margin: 0 auto;
        }
    }
}
