// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.

@import "ui-variables";

.outliner-view {
    header {
        margin: 0 auto 15px;
        padding: 0 0 10px;
        border-bottom: 1px solid @button-background-color;
        text-align: center;
    }
    .btn-toolbar {
        margin: 0 auto 15px;
        text-align: center;
        .btn-group {
            float: none;
            margin: 0 auto;
        }
    }
}

.outline-container {
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        margin: 0 auto 5px;
        em {
            font-style: normal;
            color: @text-color-info;
            &::before {
                content: "[";
            }
            &::after {
                content: "]";
            }
        }
        span {
            color: @text-color-highlight;
        }
        ul {
            padding: 5px 0 0 20px;
        }
        &::before {
            content: attr(data-index) " ";
            color: @text-color-subtle;
        }
        &.is-root::before {
            content: "1 ";
        }
        &.has-error {
            &::before {
                color: @background-color-error;
            }
            > em {
                margin-right: 2px;
                color: @background-color-error;
            }
            > span {
                color: @text-color-subtle;
                &::after {
                    content: " ";
                    font-family: "Octicons";
                    color: @background-color-error;
                    vertical-align: middle;
                }
            }
        }
    }
}
